<div class="sidebar-about">
    <h1 class="brand">
        {{ if .Site.Params.brand_image }}
            <a href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.Params.brand_image }}" alt="brand image">
            </a>
        {{ end }}
        {{ if .Site.Params.brand }}
            <a href="{{ .Site.BaseURL }}">
                <h1>{{ .Site.Params.brand }}</h1>
            </a>
        {{ end }}
    </h1>
    <p class="lead">
    About software engineering<br/>(mostly Scala).<br/>Author of <a href="https://zio-temporal.vhonta.dev/">ZIO Temporal</a><br/>
    <a href="https://scala-ql.vhonta.dev/">Scala QL</a> and more!
    </p>
</div>
