/* Empty css file that users can override in their own /static/css/custom.css file */

.announcementBar_mb4j {
    align-items: center;
    background-color: #000;
    border-bottom: 1px solid #f5f6f7;
    color: #000;
    display: flex;
    height: auto
}

.announcementBarPlaceholder_vyr4 {
    flex: 0 0 10px
}

.announcementBarClose_gvF7 {
    align-self: stretch;
    flex: 0 0 30px
}

.content_knG7 {
    font-size: 85%;
    padding: 5px 0;
    text-align: center
}

.content_knG7 a {
    color: inherit;
    text-decoration: underline
}

.announcementBarContent_xLdY,.navbar__title {
    flex: 1 1 auto
}
